body {

  font-family: "Raleway", Arial, sans-serif;
  text-align: center;
  background-color: black;

}

/* The switch - the box around the slider */
.switch {
  position: fixed;
  display: inline-block;
  width: 60px;
  height: 34px;
  left: 20px;
  top:20px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: black;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

h1

{

  font-family: "Raleway", Arial, sans-serif;
  text-align: center;

}

#name {
  letter-spacing: 6px;
  padding: 30px;
color: white;
}

.w3-row-padding img {
  margin-bottom: 12px;
}

#proPic {
max-width: 30%;
vertical-align: top;
 border-radius: 50%;
 border: solid;
 border-width: medium;
 border-color: black;

}


#logo {
  -webkit-animation: flicker 5s infinite;
  text-align:center;
}

@-webkit-keyframes flicker
{
0% {opacity:0;}
9% {opacity:0;}
10% {opacity:.5;}
13% {opacity:0;}
20% {opacity:.5;}
25% {opacity:1;}
30% {opacity:0;}
31% {opacity:0;}
32% {opacity:0;}
}

.button {
  background-color: #4CAF50; /* Green */
  border: black;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}

.butt1 {

  background-color: #4CAF50;
   color: black;
   border: 2px solid black;

}

.butt1:hover {
  background-color: #4CAF50;
  color: white;
}

.butt2 {
  background-color: white;
  color: black;
  border: 2px solid black;
}

.butt2:hover {background-color: #e7e7e7;}

.butt3 {
  background-color: #f44336;
  color: black;
  border: 2px solid black;
}

.butt3:hover {
  background-color: #f44336;
  color: white;
}



#footer-container {

background-color: lightgrey;
padding: 50px;


}


.fa {

font-size: 300%;
letter-spacing: 10px;
padding-top: 50px;


}

#footer-text {

letter-spacing: 2px;

}

@media only screen and (max-width: 600px) {

#proPic {
max-width: 60%;
vertical-align: top;
 border-radius: 50%;
 border: solid;
 border-width: medium;
 border-color: black;  }

 #name {
   font-size: 150%;
   letter-spacing: 4px;
   padding: 30px;
   color: white;
 }

 .button {
   background-color: #4CAF50; /* Green */
   border: none;
   color: white;
   padding: 12px 15px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 16px;
   margin: 4px 2px;
   -webkit-transition-duration: 0.4s; /* Safari */
   transition-duration: 0.4s;
   cursor: pointer;
 }


 .butt1 {

   background-color: #4CAF50;
    color: black;
    border: 2px solid black;

 }

 .butt1:hover {
   background-color: #4CAF50;
   color: white;
   border-color: white;
 }

 .butt2 {
   background-color: white;
   color: black;
   border: 2px solid black;
 }

 .butt2:hover {
background-color: #e7e7e7;
border-color: white;
 }

 .butt3 {
   background-color: #f44336;
   color: black;
   border: 2px solid black;
 }

 .butt3:hover {
   background-color: #f44336;
   color: white;
   border-color: white;
 }

 #footer-text {

 letter-spacing: 1px;

 }


}
